@page "/settings"
@implements IDisposable

@using Monitor.Workers
@using Monitor.Components
@using Monitor.Services
@using System.Globalization
@using Monitor.Extensions
@using Monitor.Components.Shared
@using Monitor.Workers.Enableables

@inject SerialMessageService SerialMessageService
@inject CameraCaptureApp CameraCaptureApp
@inject GpioApp GpioApp
@inject WatchdogApp WatchdogApp
@inject AprsIsApp AprsIsApp
@inject MeshtasticApp MeshtasticApp


<PageTitle>Paramètres</PageTitle>

<PageHeader Title="Paramètres" Subtitle="@MonitorService.State.LastMessagesReceived.LastOrDefault()?.ReceivedAt.ToFrench().ToString(CultureInfo.CurrentCulture)" />

<GridRow Gutter="(16, 16)" Justify="center">
    <GridCol Md="24" Lg="12">
        <Card Title="Nuit">
            <ChildContent>
            <Descriptions Bordered="true" Column="1">
                <DescriptionsItem Title="Activé">
                    <Switch @bind-Checked="BatteryApp.NightEnabled.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="Utilise l'heure de lever du soleil">
                    <Switch @bind-Checked="BatteryApp.NightUseSun.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="Réveil la nuit">
                    <Switch @bind-Checked="BatteryApp.NightTurnOn.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="Tension limite du réveil">
                    <AntDesign.InputNumber @bind-Value="BatteryApp.NightLimitVoltage.Value" Min="11000" Max="12000"></AntDesign.InputNumber>
                </DescriptionsItem>
                <DescriptionsItem Title="Durée éteint">
                    <TimeSpanPicker @bind-Model="BatteryApp.NightTimeOff.Value" />
                </DescriptionsItem>
            </Descriptions>
            </ChildContent>
        </Card>
    </GridCol>
    <GridCol Md="24" Lg="12">
        <Card Title="Batterie faible">
            <ChildContent>
            <Descriptions Bordered="true" Column="1">
                <DescriptionsItem Title="Activé">
                    <Switch @bind-Checked="BatteryApp.LowBatteryEnabled.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="Tension limite">
                    <AntDesign.InputNumber @bind-Value="BatteryApp.LowBatteryVoltage.Value" Min="11000" Max="12000"></AntDesign.InputNumber>
                </DescriptionsItem>
                <DescriptionsItem Title="Durée éteint">
                    <TimeSpanPicker @bind-Model="BatteryApp.LowBatteryTimeOff.Value" />
                </DescriptionsItem>
            </Descriptions>
            </ChildContent>
        </Card>
    </GridCol>
    <GridCol Md="24" Lg="12">
        <Card Title="MPPT">
            <ChildContent>
            <Descriptions Bordered="true" Column="1">
                <DescriptionsItem Title="Tension basse">
                    <AntDesign.InputNumber @bind-Value="EntitiesManagerService.Entities.MpptPowerOffVoltage.Value" Min="11000" Max="12000"></AntDesign.InputNumber>
                </DescriptionsItem>
                <DescriptionsItem Title="Tension haute">
                    <AntDesign.InputNumber @bind-Value="EntitiesManagerService.Entities.MpptPowerOnVoltage.Value" Min="12000" Max="13000"></AntDesign.InputNumber>
                </DescriptionsItem>
            </Descriptions>
            </ChildContent>
        </Card>
    </GridCol>
    <GridCol Md="24" Lg="12">
        <Card Title="Watchdog">
            <ChildContent>
            <Descriptions Bordered="true" Column="1">
                <DescriptionsItem Title="Activé">
                    <Switch @bind-Checked="WatchdogApp.Enabled.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="Temps éteint">
                    <TimeSpanPicker @bind-Model="EntitiesManagerService.Entities.WatchdogPowerOffTime.Value" />
                </DescriptionsItem>
            </Descriptions>
            </ChildContent>
        </Card>
    </GridCol>
    <GridCol Md="24" Lg="12">
        <Card Title="Caméras">
            <ChildContent>
            <Descriptions Bordered="true" Column="1">
                <DescriptionsItem Title="Activé">
                    <Switch @bind-Checked="CameraCaptureApp.Enabled.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="Interval">
                    <TimeSpanPicker @bind-Model="CameraCaptureApp.Interval.Value" />
                </DescriptionsItem>
                <DescriptionsItem Title="Interval avec merge">
                    <TimeSpanPicker @bind-Model="CameraCaptureApp.IntervalWithMerge.Value" />
                </DescriptionsItem>
            </Descriptions>
            </ChildContent>
        </Card>
    </GridCol>
    <GridCol Md="24" Lg="12">
        <Card Title="GPIO">
            <ChildContent>
            <Descriptions Bordered="true" Column="1">
                <DescriptionsItem Title="Wifi">
                    <Switch @bind-Checked="EntitiesManagerService.Entities.GpioWifi.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="NPR">
                    <Switch @bind-Checked="EntitiesManagerService.Entities.GpioNpr.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="Meshtastic">
                    <Switch @bind-Checked="EntitiesManagerService.Entities.GpioMeshtastic.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="Wifi au démarrage">
                    <Switch @bind-Checked="GpioApp.StartWifiTurnOn.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="NPR au démarrage">
                    <Switch @bind-Checked="GpioApp.StartNprTurnOn.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="Meshtastic au démarrage">
                    <Switch @bind-Checked="GpioApp.StartMeshtasticTurnOn.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="Wifi ou NPR temps allumé">
                    <TimeSpanPicker @bind-Model="GpioApp.WifiNprTimeOn.Value" />
                </DescriptionsItem>
                <DescriptionsItem Title="Wifi ou NPR temps éteint">
                    <TimeSpanPicker @bind-Model="GpioApp.WifiNprTimeOff.Value" />
                </DescriptionsItem>
            </Descriptions>
            </ChildContent>
        </Card>
    </GridCol>
    <GridCol Md="24" Lg="12">
        <Card Title="LoRa TX">
            <ChildContent>
            <Switch @bind-Checked="MeshtasticApp.Enabled.Value" CheckedChildren="Meshtastic TX activé" UnCheckedChildren="Meshtastic TX désactivé"></Switch>
            <Switch @bind-Checked="AprsIsApp.Enabled.Value" CheckedChildren="Igate TX activé" UnCheckedChildren="Igate TX désactivé"></Switch>
            <Input @bind-Value="LoRaTxPayload" Placeholder="Payload"/>
            <Button Type="@ButtonType.Primary" HtmlType="button" OnClick="SendLoRa">
                Envoyer
            </Button>
            </ChildContent>
        </Card>
    </GridCol>
    <GridCol Md="24" Lg="12">
        <Card Title="Commande série TX">
            <ChildContent>
            <Input @bind-Value="SerialTxPayload" Placeholder="Payload" />
            <Button Type="@ButtonType.Primary" HtmlType="button" OnClick="SendSerial">
                Envoyer
            </Button>
            </ChildContent>
        </Card>
    </GridCol>
    <GridCol Md="24" Lg="12">
        <Card Title="Fonctions MCU">
            <ChildContent>
            <Descriptions Bordered="true" Column="1">
                <DescriptionsItem Title="MPPT Watchdog Safety">
                    <Switch @bind-Checked="EntitiesManagerService.Entities.FeatureMpptWatchdogSafetyEnabled.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="APRS DigiPeater">
                    <Switch @bind-Checked="EntitiesManagerService.Entities.FeatureAprsDigipeaterEnabled.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="APRS Télémétrie">
                    <Switch @bind-Checked="EntitiesManagerService.Entities.FeatureAprsTelemetryEnabled.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="APRS Position">
                    <Switch @bind-Checked="EntitiesManagerService.Entities.FeatureAprsPositionEnabled.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="Sleep">
                    <Switch @bind-Checked="EntitiesManagerService.Entities.FeatureSleepEnabled.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="Reset si erreur">
                    <Switch @bind-Checked="EntitiesManagerService.Entities.FeatureResetOnErrorEnabled.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="Watchdog">
                    <Switch @bind-Checked="EntitiesManagerService.Entities.FeatureWatchdogEnabled.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="Watchdog LoRa TX">
                    <Switch @bind-Checked="EntitiesManagerService.Entities.FeatureWatchdogLoraTxEnabled.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="Données">
                    <Button Type="@ButtonType.Primary" OnClick="RefreshMcuData">Raffraîchir</Button>
                </DescriptionsItem>
            </Descriptions>
            </ChildContent>
        </Card>
    </GridCol>
</GridRow>

@code {

    private Timer _timer { get; set; } = null!;
    private string? LoRaTxPayload { get; set; }
    private string? SerialTxPayload { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        _timer = new Timer(async _ => await UpdateData(), null, TimeSpan.Zero, TimeSpan.FromSeconds(5));
        await base.OnInitializedAsync();
    }

    private async Task UpdateData()
    {
        await InvokeAsync(() =>
        {
            try
            {
                StateHasChanged();
            }
            catch (Exception)
            {
                // to prevent app crash when bug appear
            }
        });
    }
    
    private void SendLoRa()
    {
        if (!string.IsNullOrWhiteSpace(LoRaTxPayload))
        {
            SerialMessageService.SendLora(LoRaTxPayload);
            LoRaTxPayload = null;
        }
    }
    
    private void SendSerial()
    {
        if (!string.IsNullOrWhiteSpace(SerialTxPayload))
        {
            SerialMessageService.SendCommand(SerialTxPayload);
            SerialTxPayload = null;
        }
    }

    private void RefreshMcuData()
    {
        SerialMessageService.GetDataJson();
    }

    public void Dispose()
    {
        _timer.Dispose();
    }
}