<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet" />
    <link rel="stylesheet" href="Monitor.styles.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <HeadOutlet @rendermode="InteractiveServer"/>
</head>

<body>
<Routes @rendermode="InteractiveServer" />
<AntContainer @rendermode="InteractiveServer" />
<script src="_framework/blazor.web.js"></script>
<script src="_content/AntDesign/js/ant-design-blazor.js"></script>
<script src="_content/AntDesign.Charts/ant-design-charts-blazor.js"></script>
<script src="https://unpkg.com/@@antv/g2plot@1.1.28/dist/g2plot.js"></script>
</body>

</html>